<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"><i class='bx bxl-gmail'></i></a>
        <!-- <li><i class='bx bxl-gmail'></i></li> -->
        <a href="https://www.linkedin.com/in/shashank-sofdeve" target="_blank"><i class='bx bxl-linkedin'></i></a>
        <!-- <li><i class='bx bxl-linkedin'></i></li> -->
        <a href="https://github.com/shashank620" target="_blank"><i class='bx bxl-github'></i></a>
        <!-- <li><i class='bx bxl-github'></i></li> -->
        <a href="https://www.facebook.com/profile.php?id=100045749773157&mibextid=ZbWKwL" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
        <!-- <li><i class='bx bxl-facebook-circle'></i></li> -->
        <a href="https://instagram.com/shashank_184?igshid=MzMyNGUyNmU2YQ==" target="_blank"><i class='bx bxl-instagram'></i></a>
        <!-- <li><i class='bx bxl-instagram'></i></li> -->
    </ul>

    <ul class="contact-info">
        <li>Mobile: 6205690133</li>
        <li>shashank174202 (at) gmail.com</li>
    </ul>
</div>